<plugin id="com.example.storytellerdemo" version="1.0.0" xmlns="http://cordova.apache.org/ns/plugins/1.0">
    <name>StoryTellerDemo</name>
    <description>A sample Cordova plugin</description>
    <license>MIT</license>
    <keywords>cordova, plugin</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="StoryTellerDemo">
                <param name="android-package" value="com.example.storytellerdemo.MyPlugin" />
            </feature>
            <preference name="android-build.gradle" value="src/main/kotlin/com/example/myplugin/build.gradle"/>
        </config-file>
        <source-file src="src/main/kotlin/com/example/myplugin/MyPlugin.kt" target-dir="src/main/kotlin/com/example/myplugin" />
        <resource-file src="www/myplugin.js" target="plugins/com.example.storytellerdemo/www/myplugin.js" />
    </platform>
</plugin>